<header class="row">
  <div class="span5">
    <h3>Reset Statistics</h3>
  </div>
</header>

<form action="<%= root_path %>reset-statistics" method="post">
  <input class="btn btn-danger pull-left" type="submit" name="reset_statistics" value="Reset Sidekiq Statistics" />
</form>