<form action="<%= root_path %>reset-statistics" method="post">
  <input class="btn btn-danger pull-left" type="submit" name="reset_statistics" value="Reset Sidekiq Statistics" data-confirm="<%= t('AreYouSure') %>"/>
</form>